* {
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1vw;
}

.app label {
  text-align: center;
  
}
.app input {
  width: 100%;
  text-align: center;
}

.app button {
 text-align: center;
}

ul{
  display: block;
  outline: 1px solid;
  gap: 1vw;
  margin: 1vh;
}

li {
  text-align: start;
}